.header{
    background-color: #00ae44;
    height: 115px;
    border-bottom: 1px;
    border-bottom-style: solid;
    margin-top: 0px;
    
    border-color: white;
    padding-left: 30px;
    align-items: center;
    display: flex;
    /* text-align: center; */
    position: fixed;
    z-index: 2;
    width: 100%;
}
.header-img
{
    /* width: ; */
    height: 75px;
}
.header-items{
    display: flex;
    color: white;
    margin-left: auto;
}
.header-ul
{
    display: flex;
}
.header-ul li{
    margin:1em;
    font-size: larger;
    /* text-decoration: none; */
    list-style: none;
}
.header-icons
{
    margin-right: 5rem;
    margin-left: 2rem;
}
.header-icon-images{
    height:27px
}
section{
    position: relative;
}
.section-heading
{
    height: 100px;
    width: 500px;
    font-size: 45;
    align-items: center;
    /* text-align: center; */
    position:absolute;
    top:220px;
    left: 150px;
    color: white;
}
.section-button
{
    margin-top: 10px;
    background-color: #00ae44;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    height: 40px;
    width: 200px;
}
.second-section{
    color: white;
    margin-left: 30%;
    position: absolute;
    top:50%;
    width: fit-content;
    text-align: center ;
    align-items: center;
    background-color: rgba(12, 82, 39, 0.8);
    border-radius: 100px;
    width:38rem;
    height:12rem;
}
.second-section-button{
    width: 10rem;
    height:2.5rem;
    border-radius: 20px;
    border-style: solid ;
    border-color: white;
    background-color:rgba(12, 82, 39, 0.6) ;
    color:white;
}
.footer{
    background-color: #3e3e3e;
    height:8rem;
    color: white;
}
.footer-li
{
    display: flex;
    margin: 0;
    padding: 1rem;
    padding-left:20rem ;
}
.footer-li li{
    margin-left: 1.5rem;
    list-style: none;
    font-size: small;
    font-weight: 600;
}
.footer p
{
    width:100%;
    text-align: center;
    font-size: x-small;
}